/* navigation bar */


* {
    box-sizing: border-box;
}

body {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #989898;
}

header {
    display: flex;
    height: 80px;
}

.titleMenu {
    color: #9F9B9B;
}

.titleMenu span {
    color: #01161E;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 24px;
}

nav {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.flex-section1 {
    display: flex;
    flex-direction: row;
    background-color: rgb(208, 205, 205);
    height: auto;
    width: 100%;
    top: 64px;
    bottom: 64px;
    align-items: center;
    /* justify-content: center; */

}

.left-content {
    width: 60%;
    margin: auto;
    margin: 32px;

}

.left-content img {
    max-width: 100%;
    height: auto;
    padding-bottom: 32px;
    padding-right: 24px;
}


.right-content {
    align-items: center;
    text-align: left;
    margin-left: 24px;
    width: 40%;



}

.right-content button {
    margin-top: 8px;
    padding: 8px;
    text-align: center;
    width: 60%;
    background-color: grey;
    color: white;
}

.right-content button:hover {
    background-color: rgb(250, 250, 250);
    font-weight: 300;
}

/* Remove mobile icon */
.mobile {
    display: none;
}




h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h1 {
    font-weight: bold;
    /* padding: 15px; */
}

h1,
h2,
h3,
h4,
h5 {
    color: #4f4f4f;
    /* padding: 15px; */
}


img {
    max-width: 100%;
    height: auto;
}

.section1-content {
    display: flex;
    flex-direction: column;
    width: px;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-imageSection {
    display: flex;
    flex-direction: row;
    margin-top: 32px;
}

.main-imageSection-leftContent {
    width: 60%;
    padding-top: 32px;
    padding-left: 24px;
    padding-right: 24px;
}

.main-imageSection-leftContent h2 {
   padding-top: 32px;
   padding-bottom: 24px;
}

.main-imageSection-rightContent {
    flex-direction: column;
}

.main-imageSection-rightContent-child {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 32px;
    padding-left: 24px;
    padding-right: 24px;
    justify-items: center;
}

.main-imageSection-rightContent-child-img-wrapper {
    width: 35%;
}

.main-imageSection-rightContent-child-text {
    padding: 16px;
    width: 100%;
    align-self: center;
}

.start-learning-top {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(208, 205, 205);
}

.start-learning-top h2 {
    padding-top: 32px;
    padding-bottom: 32px;
}

.start-learning-style {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(208, 205, 205);
    margin-left: 72px;
    margin-right: 72px;
}

.start-learning-style div {
    flex-basis: auto;
    margin: 10px;
    background-color: white;
    margin-right: 40px;
    flex-flow: column wrap;
    width: 300px;
}

.start-learning-style div img {
    height: auto;
    width: 100%;
}

.start-learning-style div div {
    margin: 16px;
    width: auto;
    line-height: normal;


}

.start-learning-style div p.lastLine {
    /* margin-top: 22px; */
    padding-bottom: 24px;
    padding-left: 16px;
}

.thesis-exhibit {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    background-color: white;

}

.thesis-exhibit h2 {
    text-align: center;
padding-top: 32px;
padding-bottom: 32px;
}



.thesis-parent {
    display: flex;
    flex-direction: row;
    padding-right: 24px;
    background-color: white;

}

.thesis-image {
   width: 35%;
   padding: 16px;
}

.thesis-text {
    width: 65%;
    align-items: center;
    padding: 16px;
 }

 .thesis-text thesis-text-vertical {
    width: 100%;
    display: flex;
    flex-direction: column;
   
   
 }

.thesis-left {
    width: 60%;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    flex-direction: column;
    background-color: white;
}

.thesis-left video {
    width: 100%;
    padding: 24px;
}

.thesis-right {
    width: 40%;
    margin: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-row {
    margin: 24px;
    display: flex;
    flex-direction: row;
}

.thesis-right-content {
    background-color: lightgray;
}


.footerText {
    display: flex;
    margin-top: 16px;
    margin-left: 24px;
}

.footerText div {
    display: flex;
    width: 80%;
    justify-content: flex-end;
    align-items: center;
    margin-right: 24px;
}

/* Hide mobile images */
.image-mobile, .start-learning-top-mobile, .thesis-parent-mobile-video{
    display: none;
}


@media only screen and (max-width:720px) {

    /* Do Not Display */
    .desktop,
    .logo {
        display: none;
    }

    .mobile {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height:64px;
    }

   
    
    .flex-section1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .left-content img{
        width: 100%;
        padding:0px 0px 16px 0px;
    }
    .flex-section1 h4 {
        padding-top:16px;
        padding-bottom: 8px;
    }
    
    .flex-section1 button{
        margin-bottom: 32px;
    }

    /* main-imageSection  */
    
    .main-imageSection-leftContent{
        display:none;
    }
    
    .main-imageSection-rightContent-child-img-wrapper,.thesis-parent, .start-learning-top{
        display:none;
    }

    
    .main-imageSection-rightContent-child{
        flex-direction: column;
        max-width: 100%;
    }
    

    
    .image-mobile{
        display:flex;
        max-width:100%;
    
    }
    
    .image-mobile img{
        width:100%;
        height:300px;
        padding-left:32px;
        padding-right: 32px;
        padding-top:16px;
    
    }
    
    .start-learning-top-mobile{
        display:flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    
    .start-learning-top-mobile h2{
        padding-top: 32px;
        padding-bottom: 16px;
        padding-left: 72px;
        padding-right: 72px;
    }
    
    .start-learning-top-mobile button{
        background-color: lightgrey;
        padding-bottom: 16px;
        padding-top: 16px;
        margin-bottom: 16px;
        margin-left: 24px;
        margin-right: 24px;
        border: none;
        text-align: left;
        padding-left: 16px;
        font-size: large;
    }
    
   

    .thesis-parent-mobile-video {
        display: flex;
    }
    
    .thesis-parent-mobile-video video{
        width: 100%;
        padding-bottom: 32px;
    }
    


}
